<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:component-scan base-package="kr.ac.seoil" />
	<aop:aspectj-autoproxy />
	
	<!-- DataSource 설정 -->
	<context:property-placeholder location="classpath:conf/database.properties" />
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:sql-map-config.xml"/>
	</bean>
	<!-- Transaction 설정 -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut id="txPointcut"
			expression="execution(* kr.ac.seoil.boardWeb..impl.*Impl.*(..))" />
		<aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice" />
	</aop:config>

	<aop:config>
		<aop:pointcut id="allPointcut"
			expression="execution(* kr.ac.seoil.boardWeb..impl.*Impl.*(..))" />
		<aop:pointcut id="getPointcut"
			expression="execution(* kr.ac.seoil.boardWeb..service.*Service+.get*(..))" />

		<aop:aspect ref="log">
			<aop:before pointcut-ref="allPointcut" method="beforeLogging" />
			<aop:after pointcut-ref="allPointcut" method="afterLogging" />
			<aop:after-returning pointcut-ref="allPointcut" method="afterReturnLog" returning="returnObj"/>
			<aop:after-throwing pointcut-ref="allPointcut" method="afterThrowLog" throwing="exceptObj"/>
			<aop:around pointcut-ref="allPointcut" method="aroundLog" />
		</aop:aspect>
	</aop:config>



	<bean id="log" class="kr.ac.seoil.boardWeb.common.Log4jAdvice" />
	<bean id="userService" class="kr.ac.seoil.boardWeb.user.service.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO" />
	</bean>
	
	<!-- Spring JDBC 설정 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="userDAO" class="kr.ac.seoil.boardWeb.user.service.impl.UserDAO" />
	
	<!-- Mybaits Templeate 설정 -->
	<bean class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSession"/>
	</bean>
	
	
</beans>













